button{
    width:100px;
    height:45px;
    background-color: #F4623A;
    color: #fff;
    margin-right: 20px;
    border: none;
    margin-bottom: 10px;
}
button:hover{
    border-style: solid;
    border-color: #F4623A;
    color:#F4623A;
    background-color: #fff;
}