
<app-header></app-header>
<app-search-section style="position:relative;left:35%;"></app-search-section>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Website</th>
        <th scope="col">Created at</th>
        <th scope="col">Location</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>        
      </tr>

  <h3 id="error" style="text-align: center;position: absolute;width: 100%;"></h3>
    <tbody>
     
          <ng-container *ngFor="let j of jobList" >
              <tr>  
            <td>{{j.company}}</td>
            <td><a href = {{j.company_url}}>{{j.company_url}}</a></td>
            <td>{{j.created_at}}</td>
            <td>{{j.location}}</td>
            <td>{{j.title}}</td>
            <td>{{j.type}}</td>
          </tr>
             </ng-container>
        
     
     
    </tbody>
  </table>
  <br>  <br>  <br>   <br>
 <!--  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> -->